{% extends "index.html" %}


{% block content %}
    <div id="about-us-container">
        <article id="about-us-article">
            <div id="article-header">
                <span id="article-name">Par mums</span>
            </div>
            <div id="article-content">
                Mēs esam starptautiska lidostu sistēma kurā ir iespējams viegli un ātri atrast lētākos lidojumus uz vēlēto galapunktu
                tieši ar aviācijas kompāniju.<br><br>

                Tas nozīmē ka biļetes pirkumiem netiek piešķirti nekādi uzcenojumi vai lieki procenti. Visas cenas ir tādas, kādas mums
                pasniedz aviācijas kompānijas, un tik jūs arī maksājat.<br><br>

                Ātri, ērti un droši.
            </div>
        </article>

        <article id="history-article">
            <div id="article-header">
                <span id="article-name">Vēsture</span>
            </div>
            <div id="article-content">
                “Lidosta” tika veidota pēc starptautiska aviāciju kompānijas izsludinātā pieprasijuma pēc apvienotas sistēmas lidojumu
                atrasšanai un pirkšanai.<br><br>
                
                Darbs uz mājaslapu sākās 05/11/2021 un tika pabeigta DD/MM/2021.<br><br>
                
                Programmēšana tika sākta DD/MM/2021 un tika pabeigta DD/MM/2021.<br><br>
                
                Mājslapas veidotāji: Alberts Liepiņš, Renārs Gausiņš, Gustavs Krasņikovs

            </div>
        </article>

        <article id="we-offer-article">
            <div id="article-header">
                <span id="article-name">Mēs piedāvājam</span>
            </div>
            <div id="article-content">
                Mēs piedāvājam apvienotu vietu kur veikt lidojumu un ceļojumu biļešu pirkšanu bez nekādiem uzcenojumiem. Mēš ļaujam jums
                ātri atrast labāko piedāvājumu un izvērtēt iespējamās izvēles ātri un ērti<br><br>
                
                Parasti meklējot lētākos lidojumus ir jāskatās cauri vairākām aviokompāniju mājaslapām un jāmeklē atbilstošākais
                piedāvājums, bet šeit tas viss ir vienā vietā.<br><br>
                
                
                Visa informācija par lidojumiem ir publiska, un mēs to neglabājam. Paša biļešu pirkšana notie atbilstošās aviokompānijas
                pirkuma lapā.
        
            </div>
        </article>
    </div>
{% endblock %}