<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\style\stylesheet.css" type="text/css" rel="stylesheet">
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>
<body data-new-gr-c-s-check-loaded="14.1014.0" data-gr-ext-installed="">
    <div id="navigation-bar">
        <!-- header -->
        <img src="static/images/Logo.png" id="navigation-bar-logo">
        <div id="navigation-bar-right-side">
            <div id="search-bar">
                <div><input type="text" name="search-bar-input" id="search-bar-input" placeholder="Meklēt..."></div>
                <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
            </div>
            <div id="login-button"><a href="login.html">Ienākt</a></div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Content -->
        <div class="admin-panel">
            <div class="admin-left-side">
                <div class="admin-panel-top-bar">
                    <span class="admin-panel-top-bar-text">Panelis</span>
                </div>
                <div class="admin-panel-content-frame">
                    <div id="1" class="admin-panel-button">Lietotāji</div>
                    <div id="2" class="admin-panel-button">Reisis</div>
                    <div id="3" class="admin-panel-button">Lidostas</div>
                    <div id="4" class="admin-panel-button">Lidmašīnas</div>
                    <div id="seperating-line"></div>
                    <div id="5" class="admin-panel-button">Exportēt visus datus</div>
                </div>
            </div>
            <div class="admin-right-side">
                <div class="admin-search-frame">
                    <div class="admin-search-top-bar">
                        <span class="admin-search-top-bar-text">Panelis</span>
                        <div id="admin-pannel-search-bar">
                            <div><input type="text" name="search-bar-input" id="search-bar-input" placeholder="Meklēt..."></div>
                            <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                        </div>
                    </div>
                    <div class="admin-search-content-frame">
                        <div id="lookup-1" class="admin-search-content-result">
                            <div class="admin-pannel-search-content field-1">Field1</div>
                            <div class="admin-pannel-search-content field-2">Field2</div>
                            <div class="admin-pannel-search-content field-3">Field3</div>
                            <div class="admin-pannel-search-content field-4">Field4</div>
                            <div class="admin-pannel-search-content field-5">Field5</div>
                        </div>
                        <div id="lookup-1" class="admin-search-content-result">
                            <div class="admin-pannel-search-content field-1">Field1</div>
                            <div class="admin-pannel-search-content field-2">Field2</div>
                            <div class="admin-pannel-search-content field-3">Field3</div>
                            <div class="admin-pannel-search-content field-4">Field4</div>
                            <div class="admin-pannel-search-content field-5">Field5</div>
                        </div>
                        <div id="lookup-1" class="admin-search-content-result">
                            <div class="admin-pannel-search-content field-1">Field1</div>
                            <div class="admin-pannel-search-content field-2">Field2</div>
                            <div class="admin-pannel-search-content field-3">Field3</div>
                            <div class="admin-pannel-search-content field-4">Field4</div>
                            <div class="admin-pannel-search-content field-5">Field5</div>
                        </div>
                    </div>
                </div>
                <div class="admin-data-display">
                    <div class="admin-data-display-top-bar">
                        <span class="admin-data-display-top-bar-text">Dati</span>
                    </div>
                    <div class="admin-data-display-content-frame">
                        <div id="lookup-1" class="admin-data-display-content-result">
                            <div class="admin-data-display-content field-1">Field1</div>
                            <div class="admin-data-display-content field-2">Field2</div>
                            <div class="admin-data-display-content field-3">Field3</div>
                            <div class="admin-data-display-content field-4">Field4</div>
                            <div class="admin-data-display-content field-5">Field5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="bottom-navigation">
            <div>
                <div id="bottom-left">
                    <div id="bottom-navigation-text-position">
                        <span><a href="" class="bottom-navigation-text">Par mums</a></span>
                        <span><a href="" class="bottom-navigation-text">Palīdzība</a></span>
                        <span><a href="" class="bottom-navigation-text">Klientu atbalsts</a></span>
                        <span><a href="" class="bottom-navigation-text">Informācija</a></span>
                        <span><a href="" class="bottom-navigation-text">Kompānijas</a></span>
                        <div id="footer-search-bar">
                            <input type="text" class="bottom-navigation-input-search-bar">
                            <img src="static/images/Footer search bar check mark.png" class="bottom-navigation-input-button">
                        </div>
                    </div>
                </div>
                <span>
                    <hr id="footer-seperate">
                </span>
                <div>
                    <p id="copyright-text">
                        Copyright 2021 RVT DP1-3. Pilnīgi nevienas tiesības netiek aizsargātas.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/scripts/main header.js"></script>
</body>
</html>