{% extends "template_for_forms.html" %}

{% block title %}Kustomizācija{% endblock %}

{% block content %}
    <div id="form-banner-background">
        <div id="status-bar">
            <div id="status-position">
                <span id="active-section">1. Lidojuma kustomizācija</span>
                <span id="closed-section">2. Pasažiera inormācija</span>
                <span id="closed-section">3. Kopskats un rezervēšana</span>
            </div>
        </div>
        <div id="form-container">
            <article id="login">
                <div id="article-header">
                    <span id="article-name">Lidojuma kustomizācija</span>
                </div>
                <div id="article-content">
                    <form>
                        <div id="dropdown-box">
                            <div id="dropdown-box-value">No:</div>
                            <div id="dropdown-box-select">
                                <option class="select-country">Latvija(Rīga)</option>
                                <hr>
                                <option class="select-country">Vācija(Berlīne)</option>
                                <hr>
                                <option class="select-country">Francija(Parīze)</option>
                            </div>
                        </div>
                        <div id="dropdown-box">
                            <div id="dropdown-box-value">Uz:</div>
                            <div id="dropdown-box-select">
                                <option class="select-country">Latvija(Rīga)</option>
                                <hr>
                                <option class="select-country">Vācija(Berlīne)</option>
                                <hr>
                                <option class="select-country">Francija(Parīze)</option>
                            </div>
                        </div>
                        <div id="dropdown-box">
                            <div id="dropdown-box-value">Izvēlēties lidojuma klasi</div>
                            <div id="dropdown-box-select">
                                <option class="select-country">Standarta klase</option>
                                <hr>
                                <option class="select-country">Komforta klase</option>
                                <hr>
                                <option class="select-country">VIP klase</option>
                            </div>
                        </div>
                        <div id="dropdown-box">
                            <div id="dropdown-box-value">Izvēlēties izlidošanas datumu</div>
                            <div id="dropdown-box-select">
                                <option class="select-country">12.maijs 2021.gads</option>
                                <hr>
                                <option class="select-country">19.maijs 2021.gads</option>
                                <hr>
                                <option class="select-country">21.maijs 2021.gads</option>
                            </div>
                        </div>
                        <div id="booking-info-container" >Ielidošanas laiks: <span id="arrive-date">25.maijs 2021.gads</span></div><br>
                        <p>Summa par cilvēku:</p>
                        <div id="sum-of-all-conatiner"><span id="sum-of-all">100</span> $</div>
                    </form>
                </div>
            </article>
        </div>
        <div id="pop-up-passangers-info-data-accept">
            <div id="pop-up-form">
                <div>Vai Jūs esat pārliecināti ka visi dati ir ievadīti pareizi?</div>
                <div id="continue-button">
                    <a href="/passanger_info"><button class="submit-button">Jā</button></a>
                </div>
                <div id="continue-button">
                    <a><button class="submit-button" id="return">Nē</button></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="continue-button">
        <button class="submit-button">Turpināt</button>
    </div>
    <script type="text/javascript" charset="UTF-8" src="static/scripts/flight_customization_form.js"></script>
{% endblock %}