<div class="Card">
    <div class="CardHeader">
        <div class="CardDestination">Ņujorka</div>
        <div class="CardCost">359$</div>
    </div>
    <div class="CardInformationField">
        <div class="CardLeftField">
            <div class="CardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
            <div class="CardParameters">
                <div class="CardParametersFlightDate">14.05.2021</div>
                <div class="CardParametersFlightTime">20:20</div>
            </div>
        </div>
        <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
    </div>
</div>