<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet">
    <link
        rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>

<body>
    <header>
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo"> <!-- Bilde izskatās labāk neka svg -->
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input"></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button">Ienākt</div>
            </div>
        </div>
        <div id="banner">
            <img src="static/Vector/HeaderBannerLidostaLogo.svg" id="banner-logo">
            <div id="motivation-text">Nemocies meklējot lētāko lidojumu. Apskati tos visus šeit!</div>
            <div id="choose-trip-box">
                <div id="departure-country-input">
                    <span name="departure-country-input-value" id="departure-country-input-value">No kurienes</span>
                    <div id="select-departure-countries">
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
                <span class="vl"></span>
                <div id="arrival-country-input">
                    <span name="trip-to-input-value" id="arrival-country-input-value">Uz kurieni</span>
                    <div id="select-arrival-countries">
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
            </div>
            <div id="trip-search-button">
                <span>Meklēt</span>
            </div>
        </div>
    </header>
    <div id="wrapper"> <!-- Content -->
        <div id="about-us-container">
            <article id="about-us-article">
                <div id="article-header">
                    <span id="article-name">Par mums</span>
                </div>
                <div id="article-content">
                    Mēs esam starptautiska lidostu sistēma kurā ir iespējams viegli un ātri atrast lētākos lidojumus uz vēlēto galapunktu
                    tieši ar aviācijas kompāniju.<br><br>

                    Tas nozīmē ka biļetes pirkumiem netiek piešķirti nekādi uzcenojumi vai lieki procenti. Visas cenas ir tādas, kādas mums
                    pasniedz aviācijas kompānijas, un tik jūs arī maksājat.<br><br>

                    Ātri, ērti un droši.
                </div>
            </article>

            <article id="history-article">
                <div id="article-header">
                    <span id="article-name">Vēsture</span>
                </div>
                <div id="article-content">
                    “Lidosta” tika veidota pēc starptautiska aviāciju kompānijas izsludinātā pieprasijuma pēc apvienotas sistēmas lidojumu
                    atrasšanai un pirkšanai.<br><br>
                    
                    Darbs uz mājaslapu sākās 05/11/2021 un tika pabeigta DD/MM/2021.<br><br>
                    
                    Programmēšana tika sākta DD/MM/2021 un tika pabeigta DD/MM/2021.<br><br>
                    
                    Mājslapas veidotāji: Alberts Liepiņš, Renārs Gausiņš, Gustavs Krasņikovs

                </div>
            </article>

            <article id="we-offer-article">
                <div id="article-header">
                    <span id="article-name">Mēs piedāvājam</span>
                </div>
                <div id="article-content">
                    Mēs piedāvājam apvienotu vietu kur veikt lidojumu un ceļojumu biļešu pirkšanu bez nekādiem uzcenojumiem. Mēš ļaujam jums
                    ātri atrast labāko piedāvājumu un izvērtēt iespējamās izvēles ātri un ērti<br><br>
                    
                    Parasti meklējot lētākos lidojumus ir jāskatās cauri vairākām aviokompāniju mājaslapām un jāmeklē atbilstošākais
                    piedāvājums, bet šeit tas viss ir vienā vietā.<br><br>
                    
                    
                    Visa informācija par lidojumiem ir publiska, un mēs to neglabājam. Paša biļešu pirkšana notie atbilstošās aviokompānijas
                    pirkuma lapā.
            
                </div>
            </article>
        </div>
        <footer>
            <div id="bottom-navigation">
                <div>
                    <div id="bottom-left">
                        <div id="bottom-navigation-text-position">
                            <span><a href="/about us" class="bottom-navigation-text">Par mums</a></span>
                            <span><a href="" class="bottom-navigation-text">Palīdzība</a></span>
                            <span><a hre class="bottom-navigation-text">Klientu atbalsts</a></span>
                            <span><a hre class="bottom-navigation-text">Informācija</a></span>
                            <span><a hre class="bottom-navigation-text">Kompānijas</a></span>
                            <div id="footer-search-bar">
                                <input type="text" class="bottom-navigation-input-search-bar">
                                <img src="static/images/Footer search bar check mark.png" class="bottom-navigation-input-button">
                            </div>
                        </div>
                    </div>
                    <span>
                        <hr id="footer-seperate">
                    </span>
                    <div>
                        <p id="copyright-text">
                            Copyright 2021 RVT DP1-3. Pilnīgi nevienas tiesības netiek aizsargātas.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/scripts/main_header.js"></script>
</body>

</html>