<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet"> 
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>
</body>
    <header> 
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo">
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input" placeholder="Meklēt..."></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button"><a href="login.html">Ienākt</a></div>
            </div>
        </div>
        <div id="banner">
            <img src="static/Vector/HeaderBannerLidostaLogo.svg" id="banner-logo">
            <div id="motivation-text">Nemocies meklējot lētāko lidojumu. Apskati tos visus šeit!</div>
            <div id="choose-trip-box">
                <div id="departure-country-input">
                    <span name="departure-country-input-value" id="departure-country-input-value">No kurienes</span>
                    <div id="select-departure-countries">
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
                <span class="vl"></span>
                <div id="arrival-country-input">
                    <span name="trip-to-input-value" id="arrival-country-input-value">Uz kurieni</span>
                    <div id="select-arrival-countries">
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
            </div>
            <div id="trip-search-button">
                <span>Meklēt</span>
            </div>
        </div>
    </header>
    <div id="wrapper"></div>
        
    </div>
<script src="static/scripts/main header.js"></script>
</body>