<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet">
    <link
        rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>

<body>
    <header>
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo"> <!-- Bilde izskatās labāk neka svg -->
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input"></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button">Ienākt</div>
            </div>
        </div>
        <div id="form-banner-background">
            <div id="status-bar">
                <div id="status-position">
                    <span id="closed-section">1. Lidojuma kustomizācija</span>
                    <span id="closed-section">2. Pasažiera inormācija</span>
                    <span id="active-section">3. Kopskats un rezervēšana</span>
                </div>
            </div>
            <div id="form-container">
                <article id="login">
                    <div id="article-header">
                        <span id="article-name">Kopskats</span>
                    </div>
                    <div id="article-content">
                        <form>
                            <div id="booking-info-container">No: <span id="departure-country">Liepāja</span></div>
                            <div id="booking-info-container">Uz: <span id="arrive-country">Norvēģija</span></div>
                            <div id="booking-info-container">Cilvēku skaits: <span id="people-count">4</span></div>
                            <div id="booking-info-container">Izlidošanas laiks: <span id="departure-date">12.maijs 2021.gads 12:39</span></div>
                            <div id="booking-info-container">Ielidošanas laiks: <span id="arrive-date">12.maijs 2021.gads 21:39</span></div>
                            <div id="booking-info-container">Lidojuma numurs: <span id="fly-number">321312321</span></div>
                            <div id="booking-info-container">Kopējā lidojuma summa: <span id="sum-of-all">1000</span>$</div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
        <div id="book-button-container">
            <button id="book-button">Rezervēt</button>
        </div>
    </header>
    <div id="wooper">
        <footer>
            <div id="bottom-navigation">
                <div>
                    <div id="bottom-left">
                        <div id="bottom-navigation-text-position">
                            <span><a href="/about us" class="bottom-navigation-text">Par mums</a></span>
                            <span><a href="" class="bottom-navigation-text">Palīdzība</a></span>
                            <span><a hre class="bottom-navigation-text">Klientu atbalsts</a></span>
                            <span><a hre class="bottom-navigation-text">Informācija</a></span>
                            <span><a hre class="bottom-navigation-text">Kompānijas</a></span>
                            <div id="footer-search-bar">
                                <input type="text" class="bottom-navigation-input-search-bar">
                                <img src="static/images/Footer search bar check mark.png" class="bottom-navigation-input-button">
                            </div>
                        </div>
                    </div>
                    <span>
                        <hr id="footer-seperate">
                    </span>
                    <div>
                        <p id="copyright-text">
                            Copyright 2021 RVT DP1-3. Pilnīgi nevienas tiesības netiek aizsargātas.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/scripts/main.js"></script>
</body>

</html>