<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet">
    <link
        rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>

<body>
    <header>
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo"> <!-- Bilde izskatās labāk neka svg -->
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input"></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button">Ienākt</div>
            </div>
        </div>
        <div id="form-banner-background">
            <div id="status-bar">
                <div id="status-position">
                    <span id="active-section">1. Lidojuma kustomizācija</span>
                    <span id="closed-section">2. Pasažiera inormācija</span>
                    <span id="closed-section">3. Kopskats un rezervēšana</span>
                </div>
            </div>
            <div id="form-container">
                <article id="login">
                    <div id="article-header">
                        <span id="article-name">Lidojuma kustomizācija</span>
                    </div>
                    <div id="article-content">
                        <form>
                            <div id="dropdown-box">
                                <div id="dropdown-box-value">No:</div>
                                <div id="dropdown-box-select">
                                    <option class="select-country">Standarta klase</option>
                                    <hr>
                                    <option class="select-country">Komforta klase</option>
                                    <hr>
                                    <option class="select-country">VIP klase</option>
                                </div>
                            </div>
                            <div id="dropdown-box">
                                <div id="dropdown-box-value">Uz:</div>
                                <div id="dropdown-box-select">
                                    <option class="select-country">Standarta klase</option>
                                    <hr>
                                    <option class="select-country">Komforta klase</option>
                                    <hr>
                                    <option class="select-country">VIP klase</option>
                                </div>
                            </div>
                            <div id="dropdown-box">
                                <div id="dropdown-box-value">Izvēlēties lidojuma klasi</div>
                                <div id="dropdown-box-select">
                                    <option class="select-country">Standarta klase</option>
                                    <hr>
                                    <option class="select-country">Komforta klase</option>
                                    <hr>
                                    <option class="select-country">VIP klase</option>
                                </div>
                            </div>
                            <div id="dropdown-box">
                                <div id="dropdown-box-value">Izvēlēties izlidošanas datumu</div>
                                <div id="dropdown-box-select">
                                    <option class="select-country">12.maijs 2021.gads</option>
                                    <hr>
                                    <option class="select-country">19.maijs 2021.gads</option>
                                    <hr>
                                    <option class="select-country">21.maijs 2021.gads</option>
                                </div>
                            </div>
                            <div id="booking-info-container" >Ielidošanas laiks: <span id="arrive-date"></span></div>
                            <div id="sum-of-all-conatiner"><span id="sum-of-all"></span> $</div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
        <div id="continue-button">
            <a href="/passanger_info"><button class="submit-button">Turpināt</button></a>
        </div>
    </header>
    <script src="static/scripts/flight_customization_form.js"></script>
</body>

</html>