<html lang="lv"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet"> 
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>
<body data-new-gr-c-s-check-loaded="14.1014.0" data-gr-ext-installed="">
    <div id="navigation-bar">
        <a href="/"><img src="static/images/Logo.png" id="navigation-bar-logo"></a>
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input" placeholder="Meklēt..."></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button"><a href="/login">Ienākt</a></div>
            </div>
        </div>
    </div>
    <header>
        <div id="banner">
            <img src="static/Vector/HeaderBannerLidostaLogo.svg" id="banner-logo">
            <div id="motivation-text">Nemocies meklējot lētāko lidojumu. Apskati tos visus šeit!</div>
            <div id="choose-trip-box">
                <div id="departure-country-input">
                    <span name="departure-country-input-value" id="departure-country-input-value">No kurienes</span>
                    <div id="select-departure-countries">
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
                <span class="vl"></span>
                <div id="arrival-country-input">
                    <span name="trip-to-input-value" id="arrival-country-input-value">Uz kurieni</span>
                    <div id="select-arrival-countries">
                        <option class="select-country">Latvija, Rīga</option>
                        <hr>
                        <option class="select-country">Vācija, Berlīne</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                        <hr>
                        <option class="select-country">Tests</option>
                    </div>
                </div>
            </div>
            <div id="trip-search-button">
                <span>Meklēt</span>
            </div>
        </div>
    </header>
    <div id="wrapper">
        {% block content %}
            <div class="three-field-grid">
                <div class="Header">Jaunākie galamērķi</div>
                <div class="Field1">
                    <div class="Card">
                        <div class="CardHeader">
                            <div class="CardDestination">Ņujorka</div>
                            <div class="CardCost">359$</div>
                        </div>
                        <div class="CardInformationField">
                            <div class="CardLeftField">
                                <div class="CardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                                <div class="CardParameters">
                                    <div class="CardParametersFlightDate">14.05.2021</div>
                                    <div class="CardParametersFlightTime">20:20</div>
                                </div>
                            </div>
                            <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                        </div>
                    </div>
                </div>
                <div class="Field2">
                    <div class="Card">
                        <div class="CardHeader">
                            <div class="CardDestination">Ņujorka</div>
                            <div class="CardCost">359$</div>
                        </div>
                        <div class="CardInformationField">
                            <div class="CardLeftField">
                                <div class="CardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                                <div class="CardParameters">
                                    <div class="CardParametersFlightDate">14.05.2021</div>
                                    <div class="CardParametersFlightTime">20:20</div>
                                </div>
                            </div>
                            <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                        </div>
                    </div>
                </div>
                <div class="Field3">
                    <div class="Card">
                        <div class="CardHeader">
                            <div class="CardDestination">Ņujorka</div>
                            <div class="CardCost">359$</div>
                        </div>
                        <div class="CardInformationField">
                            <div class="CardLeftField">
                                <div class="CardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                                <div class="CardParameters">
                                    <div class="CardParametersFlightDate">14.05.2021</div>
                                    <div class="CardParametersFlightTime">20:20</div>
                                </div>
                            </div>
                            <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                        </div>
                    </div>
                </div>
                <div class="Right"><img class="MoveRightButton">
                    <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                        <line x1="5" y1="5" x2="105" y2="105"></line>
                        <line x1="105" y1="105" x2="5" y2="200"></line>
                    </svg>
                </div>
                <div class="Left"><img class="MoveLeftButton">
                    <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                        <line x1="105" y1="5" x2="5" y2="105"></line>
                        <line x1="5" y1="105" x2="105" y2="200"></line>
                    </svg>
                </div>
                <div class="NavigationButtons">
                    <div class="NavButtonOff"></div>
                    <div class="NavButtonOn"></div>
                    <div class="NavButtonOff"></div>
                    <div class="NavButtonOff"></div>
                </div>
            </div>
            <div class="NewsLayoutGrid">
                <div class="Description1">
                    <div class="NewsHeader">
                        Lidostas “Rīga” darbinieki aktīvi izmanto iespēju vakcinēties
                    </div>
                    <div class="NewsDescription">
                        Daudzi lidostā strādājošie jau ir izmantojuši iespēju pret Covid-19 vakcinēties citur, tomēr, ņemot vērā  lielo interesi, lidosta  “Rīga” piedāvā saviem darbiniekiem iespēju vakcinēties arī darba vietā.
                        <br>
                        <br>
                        Divās vakcinēšanās dienās 8. un 14.maijā  pirmo vakcīnas devu ir saņēmuši 242 jeb 26% lidostas darbinieku...
                    </div>
                </div>
                <div class="Description2">
                    <div class="NewsHeader">
                        RIX Internacionālajā lidostā pazaudēta jau trešā kravas lidmašīna
                    </div>
                    <div class="NewsDescription">
                        Kā ir iespējams pazaudēt lidmašīnu? Tā nemaz nav maza, un lidostās ir 24 stundu apsardze. Vai lidostās drošībai vajadzētu būt stingrākai?
                        <br>
                        <br>
                        Aizvakar RIX izsludināja lūgumu atgriezt jau trešo zagto 41 tonnu smago kravas pārvadāšanai pārveidoto Boeing 737, tomēt tie vēl nav saņēmuši nekādu ziņu par zudušās lidmašīnas atrasšanās vietu, tomēr valsts policija turpina izmeklējumu...
                    </div>
                </div>
                <div class="Photo1">
                    <img src="static\images\Story\StoryImage1.jpg" alt="Bilde1">
                </div>
                <div class="Photo2">
                    <img src="static\images\Story\StoryImage2.jpg" alt="Bilde2">
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div class="LargeInformationBubble">
                <div class="MainSquare">
                    <div class="BubbleInfoField">
                        <div class="backgroundCircle">
                            <img class="AirplaneSVG" src="static\Vector\Airplane.svg" id="Airplane">
                        </div>
                        <div class="TextField">Viegli lidojiet uz ārvalstīm, izbaudiet vienreizēju piedzīvojumu un ieraudziet citu
                            tautu kultūras.</div>
                    </div>
                    <div class="BubbleInfoField">
                        <div class="backgroundCircle">
                            <img class="BookSVG" src="static\Vector\Book.svg" id="Book">
                        </div>
                        <div class="TextField">Ātra un viegla reģistrācija, bez mokām. Viss vienā vietā. Aktīvs un draudzīgs
                            informācijas centrs.</div>
                    </div>
                    <div class="BubbleInfoField">
                        <div class="backgroundCircle">
                            <img class="CashSVG" src="static\Vector\Cash.svg" id="Cash">
                        </div>
                        <div class="TextField">Zemas un racionālas cenas. Visur ir komissijas maksas, šeit tādu nav. Zemākas cenas
                            neatradīs.</div>
                    </div>
                    <div class="BubbleInfoField">
                        <div class="backgroundCircle">
                            <img class="BellSVG" src="static\Vector\Bell.svg" id="Bell">
                        </div>
                        <div class="TextField">Ātras atbildes uz jautājumiem un laicīgi paziņojumi par lidojumu. Jūs zināsiet
                            pirmie.</div>
                    </div>
                </div>
                <div class="BottomTriangle">
                    <svg height="25" width="50" fill="#f1f4f6">
                        <path class="BottomTriangleSVG" d="M5 0 L25 18 L45 0 Z"></path>
                    </svg>
                </div>
            </div>
            <div class="three-field-grid-comment">
                <div class="Field1">
                    <div class="comment-frame">
                        <img class="profile-image" src="static\images\ProfileImages\ProfileImage.png">
                        <div class="comment-part">
                            <div class="commenter-name">
                                Zigmunds Ķēsis
                            </div>
                            <div class="commenter-comment">
                                Ļoti viegli atrast un iegādāties biļeti uz galamērķi!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Field2">
                    <div class="comment-frame">
                        <img class="profile-image" src="static\images\ProfileImages\ProfileImage.png">
                        <div class="comment-part">
                            <div class="commenter-name">
                                Zigmunds Ķēsis
                            </div>
                            <div class="commenter-comment">
                                Ļoti viegli atrast un iegādāties biļeti uz galamērķi!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Field3">
                    <div class="comment-frame">
                        <img class="profile-image" src="static\images\ProfileImages\ProfileImage.png">
                        <div class="comment-part">
                            <div class="commenter-name">
                                Zigmunds Ķēsis
                            </div>
                            <div class="commenter-comment">
                                Ļoti viegli atrast un iegādāties biļeti uz galamērķi!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Right"><img class="MoveRightButton">
                    <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                        <line x1="5" y1="5" x2="105" y2="105"></line>
                        <line x1="105" y1="105" x2="5" y2="200"></line>
                    </svg>
                </div>
                <div class="Left"><img class="MoveLeftButton">
                    <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                        <line x1="105" y1="5" x2="5" y2="105"></line>
                        <line x1="5" y1="105" x2="105" y2="200"></line>
                    </svg>
                </div>
                <div class="NavigationButtons">
                    <div class="NavButtonOff"></div>
                    <div class="NavButtonOn"></div>
                    <div class="NavButtonOff"></div>
                    <div class="NavButtonOff"></div>
                </div>
            </div>
        {% endblock %}
    </div> <!-- Atbilstoši wrapper end -->
    <footer>
        <div id="bottom-navigation">
            <div>
                <div id="bottom-left">
                    <div id="bottom-navigation-text-position">
                        <span><a href="/about_us" class="bottom-navigation-text">Par mums</a></span>
                        <span><a href class="bottom-navigation-text">Palīdzība</a></span>
                        <span><a href class="bottom-navigation-text">Klientu atbalsts</a></span>
                        <span><a href class="bottom-navigation-text">Informācija</a></span>
                        <span><a href class="bottom-navigation-text">Kompānijas</a></span>
                        <div id="footer-search-bar">
                            <input type="text" class="bottom-navigation-input-search-bar">
                            <img src="static/images/Footer search bar check mark.png"
                                class="bottom-navigation-input-button">
                        </div>
                    </div>
                </div>
                <span>
                    <hr id="footer-seperate">
                </span>
                <div>
                    <p id="copyright-text">
                        Copyright 2021 RVT DP1-3. Pilnīgi nevienas tiesības netiek aizsargātas.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/scripts/main_header.js"></script>
</body>


<!-- atbilstoši SVG un attēli atradīsies elements folderī -->
<!-- atbilstoši pašlaik ir pievienoti tikai SVG un attēli no galvenas lapas-->
<!-- atbilstoši pls kurs pievienoja tos attelus visam kartitem ludzu ielieciet tos source attēlus Elements\Images lai var displayot-->
</body>
</html>