<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet">
    <link
        rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>

<body>
    <header>
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo"> <!-- Bilde izskatās labāk neka svg -->
            <div id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input"></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button">Ienākt</div>
            </div>
        </div>
        <div id="form-banner-background">
            <div id="profile-grid">
                <article id="profile-sidebar">
                    <div id="article-header">
                        <span id="article-name">Profils</span>
                    </div>
                    <div id="article-content">
                        <img src="static/images/ProfileImages/ProfileImage.png" id="profile-image">
                        <div id="username"><span id="name">Gundars</span> <span id="lastname">Melders</span></div>
                        <div id="user-role">Lietotājs</div>
                        <div id="profile-sidebar-buttons">
                            <div id="wallet">Jūsu kontā: <span id="wallet-sum">0.24$</span></div>
                            <button class="submit-button">Papildināt kontu</button>
                            <button class="submit-button">Pieprasīt datu dzēšanu</button>
                            <button class="submit-button">Lejuplādēt datus</button>
                        </div>
                    </div>
                </article>

                <article id="reserved-tickets">
                    <div id="article-header">
                        <span id="article-name">Rezervētās biļetes</span>
                    </div>
                    <div id="article-content">
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                    </div>
                </article>

                <article id="ticket-purchase-history">
                    <div id="article-header">
                        <span id="article-name">Biļešu pirkšanas vēsture</span>
                    </div>
                    <div id="article-content">
                        <div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div><div class="ticket-info">
                            <span id="departure-country-name">Latvija(Rīga)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-country-name">Vācija(Berlīne)</span>
                            <span id="vl-info"></span>
                            <span id="arrive-time-info">00:00</span>
                            <span id="vl-info"></span>
                            <span id="arrive-date-info">00/00/2021</span>
                            <span id="vl-info"></span>
                            <span id="flight-number">Nr.<span id="number"></span></span>
                            <span id="vl-info"></span>
                            <span id="flight-sum"><span id="number"></span>$</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </header>
</body>

</html>