<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style/stylesheet.css" type="text/css" rel="stylesheet"> 
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <title>Lidosta</title>
</head>
<body>
    <header> 
        <div id="navigation-bar">
            <img src="static/images/Logo.png" id="navigation-bar-logo"> <!-- Bilde izskatās labāk neka svg -->
            <div  id="navigation-bar-right-side">
                <div id="search-bar">
                    <div><input type="text" name="search-bar-input" id="search-bar-input"></div>
                    <img src="static/Vector/SpyGlass.svg" id="search-bar-search-icon">
                </div>
                <div id="login-button">Ienākt</div>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="offer-Quote">Izvēlaties viegli, Jūsu nākamo lidojumu</div>
        <div class="NewestDestinationsGrid">
            <div class="Header">Jaunākie galamērķi</div>
            <div class="Field1">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Ņujorka</div>
                        <div class="CardCost">359$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="NewestCardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                    </div>
                </div>
            </div>
            <div class="Field2">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Ņujorka</div>
                        <div class="CardCost">359$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="NewestCardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                    </div>
                </div>
            </div>
            <div class="Field3">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Ņujorka</div>
                        <div class="CardCost">359$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="NewestCardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                    </div>
                </div>
            </div>
            <div class="Right"><img class="MoveRightButton">
                <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                    <line x1="5" y1="5" x2="105" y2="105"/>
                    <line x1="105" y1="105" x2="5" y2="200"/>
                </svg>
            </div>
            <div class="Left"><img class="MoveLeftButton">
                <svg class="NavDirectionButton" height="30" width="15" viewBox="0 0 110 210">
                    <line x1="105" y1="5" x2="5" y2="105"/>
                    <line x1="5" y1="105" x2="105" y2="200"/>
                </svg>
            </div>
            <div class="NavigationButtons">
                <div class="NavButtonOff"></div>
                <div class="NavButtonOn"></div>
                <div class="NavButtonOff"></div>
                <div class="NavButtonOff"></div>
            </div>
        </div>
        <div id="offers-row1">
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Berlīne</div>
                        <div class="CardCost">159$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Berlīne ir Vācijas galvaspilsēta, kā arī atsevišķa federālā zeme. Tā ir lielākā valsts pilsēta, kā arī Eiropas Savienības otra lielākā pilsēta.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Berlin.jpg" alt="Berlīne">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Dubaija</div>
                        <div class="CardCost">409$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Dubaija ir pilsēta Apvienotajos Arābu Emirātos, Dubaijas emirātā, kas atrodas valsts ziemeļaustrumos pie Persijas līča. </div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Dubai.jpeg" alt="Dubaija">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Losandželosa</div>
                        <div class="CardCost">359$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Losandželosa, saukta arī par Eņģeļu pilsētu vai saīsināti par L.A., ir pilsēta ASV dienvidrietumos pie Klusā okeāna.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\LosAngeles.jpg" alt="Losandželosa">
                    </div>
                </div>
            </div>
            <div class="standart-offer-right-side">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Maskava</div>
                        <div class="CardCost">49$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Maskava ir Krievijas Federācijas galvaspilsēta, kas atrodas Krievijas rietumu daļā. </div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Moscow.jpg" alt="Maskava">
                    </div>
                </div>
            </div>
        </div>
        <div id="offers-row2">
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Stokholma</div>
                        <div class="CardCost">179$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Stokholma ir pilsēta Zviedrijā, Baltijas jūras rietumu krastā pie Mēlara ezera. Valsts galvaspilsēta un lielākā pilsēta. Tajā ir 864 324 iedzīvotāju.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Stockholm.jpg" alt="Stokholma">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Tokija</div>
                        <div class="CardCost">339$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Tokija, formāli Tokijas metropole ir viena no Japānas 47 prefektūrām un ir īpaša starp pārējām prefektūrām.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Tokyo.jpg" alt="Tokija">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Pekina</div>
                        <div class="CardCost">299$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Pekina jeb Beidzjina ir pilsēta Ķīnas ziemeļos. Tā ir Ķīnas galvaspilsēta un otra lielākā pilsēta pēc iedzīvotāju skaita.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Beijing.jpg" alt="Pekina">
                    </div>
                </div>
            </div>
            <div class="standart-offer-right-side">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Atēnas</div>
                        <div class="CardCost">239$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Atēnas ir Grieķijas galvaspilsēta un valsts lielākā pilsēta. Viena no slavenākajām un tūristu apmeklētākajām pilsētām pasaulē.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Athens.jpg" alt="Atēnas">
                    </div>
                </div>
            </div>
        </div>
        <div id="offers-row3">
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Riodežaneiro</div>
                        <div class="CardCost">129$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Riodežaneiro, saukta arī par Rio, kā arī "brīnumaino pilsētu", ir pilsēta Brazīlijas dienvidos, pie Atlantijas okeāna Gvanabaras līča.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Rio.jpg" alt="Riodežaneiro">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Roma</div>
                        <div class="CardCost">92$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Iepazīsti Romas seno un bagāto vēsturi. Izbaudi tiešām unikālo sajūtu šajā pilsētā. Ceļojums pagātnē nezūdot modernās ērtības.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Rome.jpg" alt="Roma">
                    </div>
                </div>
            </div>
            <div class="standart-offer">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Ņujorka</div>
                        <div class="CardCost">359$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Ņujorkas pilsēta ir viena no populārākajām pilsētām amērikā un tai ir ļoti bagāta kultūra.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Newyork.jpg" alt="Ņujorka">
                    </div>
                </div>
            </div>
            <div class="standart-offer-right-side standart-offer-last-row">
                <div class="Card">
                    <div class="CardHeader">
                        <div class="CardDestination">Parīze</div>
                        <div class="CardCost">78$</div>
                    </div>
                    <div class="CardInformationField">
                        <div class="CardLeftField">
                            <div class="CardDescription">Parīze, viena no pazīstamākajām un kulturāli bagātākajām pilsētām. Izbaudiet brīnišķīgos skatus, skaisto arhitektūru.</div>
                            <div class="CardParameters">
                                <div class="CardParametersFlightDate">14.05.2021</div>
                                <div class="CardParametersFlightTime">20:20</div>
                            </div>
                        </div>
                        <img class="CardDestinationImage" src="static\images\Destinations\Paris.jpg" alt="Parīze">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="bottom-navigation">
                <div>
                    <div id="bottom-left">
                        <div id="bottom-navigation-text-position">
                            <span><a href class="bottom-navigation-text">Par mums</a></span>
                            <span><a href class="bottom-navigation-text">Palīdzība</a></span>
                            <span><a href class="bottom-navigation-text">Klientu atbalsts</a></span>
                            <span><a href class="bottom-navigation-text">Informācija</a></span>
                            <span><a href class="bottom-navigation-text">Kompānijas</a></span>
                            <div id="footer-search-bar">
                                <input type="text" class="bottom-navigation-input-search-bar">
                                <img src="static/images/Footer search bar check mark.png" class="bottom-navigation-input-button">
                            </div>
                        </div>
                    </div>
                    <span>
                        <hr id="footer-seperate">
                    </span>
                    <div>
                        <p id="copyright-text">
                            Copyright 2021 RVT DP1-3. Pilnīgi nevienas tiesības netiek aizsargātas.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
<script src="static/scripts/main.js"></script>
</body>
</html>